.buttonPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  height: 58px;
  color : var(--dark-900)!important;
  background-color: var(--gray-100);
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;

  margin-top: 40px;
  margin-bottom: 40px;

}
