.postContent {
  margin-top: 24px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.postImage {
  max-width: 100%;
  margin-bottom: 40px;

  img {
    object-fit: cover;
    width: 1440px;
    height: 400px;
  }
}
